
//@import url("Parts/");

.dpGrid {
	.edit {
		font-family: svg;
		font-size: 10px;
		text-align: center !important;
		color: silver;
		cursor: pointer;
	}

	.edit:hover {
		color: #4c8d9a;
	}

	.edit:before {
		content: "W";
	}

	.remove {
		font-family: svg;
		font-size: 7px;
		text-align: center !important;
		color: silver;
		cursor: pointer;
	}

	.remove:hover {
		color: #4c8d9a;
	}

	.remove:before {
		content: "G";
	}


	#gridpager {
		flex-shrink: 0;
		font-size: 11px;
		height: 25px;
		color: #67696b;
		background-color: #f1f2f2;
		border-top: 1px solid #d1d3d3;

		#cont {
			display: none
		}

		#recCount {
			font-weight: bold;
			line-height: 25px;
			margin-right: 15px;
			float: right;
		}

		#selected {
			font-weight: bold;
			line-height: 25px;
			margin-right: 15px;
			float: left;
			display: inline-block;
			height: 25px;
			overflow: hidden;
			position: relative;
			color: #67696b
		}

		#pager {
			height: 25px;
			display: inline-block;
			line-height: 25px;
			position: absolute;
			left: 50%;
			width: 100px;
			text-align: center;
			margin-left: -50px;
			color: #67696b
		}

		#prev {
			font-family: svg;
			font-size: 9px;
			font-weight: normal;
			cursor: pointer;
		}

		.disabled {
			color: #d1d3d3;
			cursor: none
		}

		#nums {
			font-weight: bold;
			color: #67696b;
			width: 40px;
			text-align: center;
			display: inline-block;
		}

		#next {
			font-family: svg;
			margin-right: 5px;
			font-size: 9px;
			font-weight: normal;
			cursor: pointer;
		}

		#selected:before {
			content: "O";
			font-family: svg;
			margin-right: 5px;
			font-size: 9px;
			font-weight: normal;
			margin-left: 5px;
			display: inline-block;
			color: #5590D2
		}

		#recCount:before {
			content: "P";
			font-family: svg;
			margin-right: 5px;
			font-size: 9px;
			font-weight: normal;
			margin-left: 5px;
			color: #5590D2
		}
	}
}


tr.jqgrow.ui-state-hover .bgContact,
tr.jqgrow[data-selected='1'] .bgContact {
	background-color: #d4e8f8;
}


div.ui-jqgrid-bdiv tr.gridrow__selected {
	background: #bfd8f8;
	color: black;
}


div.ui-jqgrid-bdiv tr.ui-state-hover {
	background-color: #d7e7fb;
	color: black;
}

div.ui-jqgrid-bdiv tr.ui-state-hover.gridrow__selected {
	background-color: #a7c7f4;
}


div.ui-jqgrid-bdiv .ui-state-highlight {
	background: unset;
	border: 1px solid #dddddd;
}
